# Python virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python cache
__pucache__/
*.pyc

# Mac OS-specific storage files
.DS_Store

# OSMnx cache
.cache/
osmnx_cache/

# External raw data (GTFS)
data/raw
*.zip
